extends layout

block styles
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/game_room.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/card.css')
    link(rel='stylesheet', href='/stylesheets/cardSize.css')

block content
  //-h1 Game page #{id} (#{title})

  //-#waiting(class=`${ready ? "hidden" : ""}`) Waiting on users 

  #waiting(class=`${ready ? "hidden" : ""}`)
    .card-body(id="lobby")
                        .center
                          .pile
                          .last-played
                          .game-state
                            .state(id = "game-state-text") (#[span.current-count #{count}])
                            //-waiting for players (#[span.current-count #{count}] of #[span.required-count #{required_count}])
                            .currentColor
                              .text Current Color
                              .div(id = "color")
                        .player1 
                          .player-cards(id="player1-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="player1-loading")
                        .player2
                          .player-cards(id="player2-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="player2-loading")
                        .player3
                          .player-cards(id="player3-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="player3-loading")
                        .player4
                          .player-icon(id="player-icon") #{username}
                          .player-cards(id="player4-cards")
  #game-table(class=`${ready ? "" : "hidden"}`)
    .card-body(id="lobby")
                        .center
                          .pile
                            .card-back(id="cardpile1")
                            .card-back(id="cardpile2")
                            .card-back(id="cardpile3")
                            .card-back(id="cardpile4")
                          .last-played
                            .card-Y12(id="card1")
                            .card-G12(id="card2")
                            .card-R12(id="card3")
                            .card-B12(id="card4")
                            .card-D1(id="card5")
                          .game-state
                            .state player4's turn 
                            .currentColor
                              .text Current Color
                              .div(id = "color")
                        .player1 
                          .player-cards(id="player1-cards")
                            .card-back(id="card1")
                            .card-back(id="card2")
                            .card-back(id="card3")
                            .card-back(id="card4")
                            .card-back(id="card5")
                          .player-icon(id="player-icon")
                        .player2
                          .player-cards(id="player2-cards")
                            .card-back(id="card1")
                            .card-back(id="card2")
                            .card-back(id="card3")
                            .card-back(id="card4")
                            .card-back(id="card5")
                          .player-icon(id="player-icon")
                        .player3
                          .player-cards(id="player3-cards")
                            .card-back(id="card1")
                          .player-icon(id="player-icon")
                        .player4
                          .player-icon(id="player-icon")
                          .player-cards(id="player4-cards")
                              .card-R0(id="card1")
                              .card-Y12(id="card2")
                              .card-G11(id="card3")
                              .card-D2(id="card4")
                              .card-B8(id="card5")
    .draw-pile
      .card.special
    #discard

  .select-color
      .select-red
      .select-blue
      .select-green
      .select-yellow

block footer
  script(src="/javascripts/games/join.js")
  script(src="/javascripts/game-management.js")